@()

@main("Tab Title") {
  <h1>Page Header</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed mi sollicitudin, varius turpis pulvinar, lobortis magna. Etiam consectetur finibus mi at ornare. Pellentesque rhoncus erat ipsum, eget suscipit massa pulvinar ultrices. Nulla non elit ac elit feugiat egestas. Maecenas ac orci at mauris congue tempor. Duis tempor, erat et elementum commodo, sapien elit luctus massa, at auctor sapien ligula a sem. Nullam varius erat et libero scelerisque, id dignissim sem tincidunt. Integer luctus tellus a convallis tempor. Cras augue magna, rhoncus vitae iaculis non, varius ut nibh. Nam sodales lacus at ante ullamcorper porta. Ut tincidunt id nulla in lobortis. Maecenas placerat imperdiet urna vitae interdum. Cras turpis purus, pharetra sodales pharetra sit amet, pharetra sit amet mi. Integer erat odio, cursus ut libero nec, eleifend suscipit lacus.</p>
}
